/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* max-width: 900px; */
    width: 100%;
}

.left-panel {
    background-color: #004080; /* Dark blue */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.left-panel img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-panel {
    padding: 40px;
    flex: 2;
}

.right-panel h2 {
    color: #004080;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    background-color: #004080;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #003366;
}
